<div class="user-show content">
  <div class="stats">
    <% if @user == current_user %>
    <h2>Hey <%= @user.first_name %>!</h2>
    <p>You were last signed in at <span class="bright"><%= @last_signed_in %></span></p>
    <p>
      Current Location: <span class="bright"><%= @city %></span><br />
      Username: <span class="bright"><%= @user.username %></span><br />
      Email: <span class="bright"><%= @user.email %></span>
    </p>

    <p>
      <%= link_to '<i class="material-icons">mode_edit</i> Update Account'.html_safe, edit_user_registration_path %>
    </p>
  </div>

  <h2>Your Past Locations</h2>

    <% @locations.each do |loc| %>
      <p>
        <%= loc.city %>, <%= loc.state %> <%= loc.zip %>
      </p>
    <% end %>
  <% end %>
</div>
