<nav id="navbar">
  <div id='flash' class="flash container">
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  </div>
  
    <div class="links">
      <ul>
        <% if user_signed_in? %>
        <li class="signed-in">Signed in as <span class="username"><%= current_user[:username] %></span></li>
        <% end %>

        <li><%= link_to '<i class="material-icons">home</i>'.html_safe, root_path %></li>

        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="admin-links">
              <%= link_to 'Admin Controls', users_path %>
            </li>
          <% end %>

          <li><%= link_to '<i class="material-icons">face</i>'.html_safe, user_path(current_user) %></li>

          <li><%= link_to '<i class="material-icons">close</i>'.html_safe, destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
</nav>
